.header-flexbox {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-flexbox-left{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 10%;
    left: 2%;
} 

.header-flexbox-text{
    margin-left: 5%;
}

.header-flexbox-right {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15%;
    right: 2%;
}

.user-circle{
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
    width: 40px;
    clip-path: circle(30% at 50% 50%);
    background-color: #151B30;
}

.content-flexbox{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.content-heading{
    z-index: 10;
    margin-top: 4%;
    margin-left: 12%;
    font-size: 2em;
    font-weight: bold;
    color: #151B30;
}

.content-description {
    z-index: 10;
    margin-top: 1.5%;
    margin-left: 12%;
    font-size: 1.1em;
    color: #151B30;
}

.card-container{
    z-index: 10;
    margin-top: 4%;
    margin-left: 12%;
    width: 70%;
    height: auto;
    border-radius: 12px;
    background-color: #fff;
    padding: 2%;
}

.card-flexbox{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.card-flexbox-heading{
    margin-left: 2%;
    font-size: 1.5em;
    font-weight: bold;
    color: #151B30;
}

.yellow-box{
    width: 3vw;
    height: 4vw;
    background-color: #ffb900;
    position: absolute;
    top: 5%;
    left: 12%;
}

.pink-circle{
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    background-color: #ff5678;
    position: absolute;
    top: 35%;
    left: 9%;
}

.blue-circle{
    height: 35vw;
    width: 35vw;
    border-radius: 50%;
    background-color: #405cd2;
    position: absolute;
    top: -20%;
    right: -5%;
}