.header-flexbox {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-flexbox-left{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 10%;
    left: 2%;
} 

.header-flexbox-text{
    margin-left: 5%;
}

.header-flexbox-right {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15%;
    right: 2%;
}

.user-circle{
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
    width: 40px;
    clip-path: circle(30% at 50% 50%);
    background-color: #151B30;
}

.content-flexbox{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.content-heading{
    z-index: 10;
    margin-top: 4%;
    margin-left: 12%;
    font-size: 2em;
    font-weight: bold;
    color: #151B30;
}

.content-description {
    z-index: 10;
    margin-top: 1.5%;
    margin-left: 12%;
    font-size: 1.1em;
    color: #151B30;
}

.card-container{
    z-index: 10;
    margin-top: 4%;
    margin-left: 12%;
    width: 70%;
    height: auto;
    border-radius: 12px;
    background-color: #fff;
    padding: 2%;
}

.card-flexbox{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.card-flexbox-heading{
    margin-left: 2%;
    font-size: 1.5em;
    font-weight: bold;
    color: #151B30;
}

.yellow-box{
    width: 3vw;
    height: 4vw;
    background-color: #ffb900;
    position: absolute;
    top: 2%;
    left: 12%;
}

.pink-circle{
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    background-color: #ff5678;
    position: absolute;
    top: 16%;
    left: 8%;
}

.green-circle{
    height: 13vw;
    width: 13vw;
    border-radius: 50%;
    background-color :#17B792;
    position: absolute;
    top: 37%;
    left: -5%;
}

.blue-circle{
    height: 35vw;
    width: 35vw;
    border-radius: 50%;
    background-color: #405cd2;
    position: absolute;
    top: -10%;
    right: -6%;
}

.tasks-flexbox{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-top: 5%;
    margin-left: 3%;
}

.tasks-content-flexbox{
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin-left: 3%;
}

.tasks-title{
    font-size: 1.2em;
    font-weight: bold;
    color: #151B30;
}

.tasks-description{
    color: #9EA0A8;
    font-weight: 600;
}

.tasks-id{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #9EA0A8;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #ffffff;
    border: #9EA0A8 solid 3px;
}

.task-arrow{
    position: absolute;
    right: 5%;
    top: 20%;
}

.videoCard-container{
    z-index: 10;
    margin-top: 4%;
    margin-left: 12%;
    width: 70%;
    height: auto;
    border-radius: 12px;
    background-color: #fff;
    padding: 4%;
    margin-bottom: 50px;
}

.videoCard-flexbox{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40vh;
}

.video-image{
    position: absolute;
    margin-top: 5%;
    width: 360px;
    height: 240px;
    margin-left: 1.5%;
}

.videoCard-guides{
    height: 100px;
    width: 300px;
    border: 2px solid #9EA0A8;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin-left: 58%;
    margin-top: 3%;    
}

.videoCard-faqs {
    height: 100px;
    width: 300px;
    border: 2px solid #9EA0A8;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin-left: 58%;
    margin-top: 4%;
}

.guides-icon{
    height: 50px;
    width: 50px;
    background-color: #d3d6e2;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: #9EA0A8 solid 3px;
    margin-left: 10%;
    margin-top: 8%;
}

.faqs-icon {
    height: 50px;
    width: 50px;
    background-color: #d3d6e2;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: #9EA0A8 solid 3px;
    margin-left: 10%;
    margin-top: 8%;
}

.guides-text{
    margin-left: 10%;
    margin-top: 10%;
    font-size: 1.4em;
    font-weight: bold;
    color: #151B30;
}

.faqs-text {
    margin-left: 10%;
    margin-top: 10%;
    font-size: 1.4em;
    font-weight: bold;
    color: #151B30;
}

.var1{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #9EA0A8;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #17B792;
    border: #9EA0A8 solid 3px;
}